<!DOCTYPE html>
<html>
<head >
    <link rel="stylesheet" href="css/prelim-styles.css">
    <link rel="stylesheet" href="css/landing-page-styles.css">
    <link rel="stylesheet" href="css/forms-styles.css">
    <meta charset="utf-8">
    <title style="center">Wonderful Events</title>
</head>
    <body>

        {{>header}}
        {{{body}}}
        {{>footer}}

    </body>
</html>