<body>
    <div>
        {{#if alertMessage}}    
            <div class="alert {{alertClass}}" role="alert" >
                <p>{{alertMessage}}</p>
            </div>
        {{/if}}
    </div>
</body>