<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">{{welcomeText}} to Wonderful Events</h1>
            <a href="/signup" id="hero-button">Sign-up</a>
        </div>
    </div>
   
    <div class="homeBody">

        <h1 class="welcomeHeader">Plan Events Like Never Before</h1>

    <div class="main-content">    
            <div class="landingPageDescription">
                <p>
                This website will transform how plan your next event. Ideas include but are not limited to:
                </p>
                <ul>               
                    {{#each eventIdeas}}
                        <li> {{this}}</li>
                    {{/each}}                 
                </ul>
            </div>
             
        
        <div class="row">
            <div class="column" >
                <h2 id="h2subtitle">Our Mission</h2>
                <p>Since the world is re-opening, it's time to party with your family and friends again.
                Event-planning can become complicated, frustrating, and even stressful. Thankfully, we
                created a website that was designed to make event-planning a more fun and hassle-free experience.
                </p>

                <h2 id="h2subtitle">Our Services</h2>
                <p>We give you the tools for you to create your events, manage and modify them.
                You can plan your event with a name, location, and dates. You can decide who you want to invite, 
                what music you want played, and what food and drinks you want to serve.
                You can decide to plan one, two or even a hundred events with our free service. The limit is only yourself.
                </p>


                <h2 id="h2subtitle">Our Promise</h2>
                <p>Using our website should make event-planning a walk in the park. You will find the experience of organizing events
                to be relatively easy, and you will be able to enjoy your event without worrying about prior logistics.    
                </p>
            </div>
        </div>

    </div>
    </div>

    {{#if isSignedIn}}
        <script type="text/javascript">
        
            let button = document.getElementById("sign-in-navbar");
            button.innerText = "Sign Out";
            button.href = "/signout";

            let heroButton = document.getElementById("hero-button");
            heroButton.innerText = "My Events";
            heroButton.href = "/myEvents";
        </script>
    {{else}}
        <script type="text/javascript">
            let eventsbutton = document.getElementById("events-navbar");
            eventsbutton.style.display = "none";
        </script>
    {{/if}}
</body>